/* *{ box-sizing: border-box; padding: 0; margin: 0;}  */
html, body{
    height: 100%;
    width:  100%;
}
  
html{ font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
  
:root{--base-clr: #11121a;
--line-clr: #42434a;
--hover-clr: #222533;
--text-clr: #e6e6ef;
 --accent-clr: #5e63ff;
--secondary-text-clr: #beb3c1;}

.section2{
    height: 170vh;
    width: 100%;
    display: grid;
    gap: 3rem;
    grid-template-areas: 
    "a . e"
    "a c e"
    "a c f"
    "b c f"
    "b d f"
    "b d ."
}
.one{
    grid-area: a;
    background: #ffffff45;
}

.two{
    grid-area: b;
    background: #ffffff45;
}

.three{
    grid-area: c;
    background: #ffffff45;
}

.four{
    grid-area: d;
    background: #ffffff45;
}

.five{
    grid-area: e;
    background: #ffffff45;
}

.six{
    grid-area: f;
    background: #ffffff45;
}